<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetup</title>
    <!-- go for the Monserrat Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/htmx.min.js"></script>
</head>
<body class="font-monserrat ">
  <div class="container mx-auto py-4 px-8 flex justify-between gap-12">
    {{ range . }}
    {{ template "meetup" . }}
    {{ end }}
  </div>
</body>


</html>